h1 {
  font-size: 27px;
  margin: 30px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 400;
}
small {
  display: block;
  text-align: center;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.weather-app {
  border: 1px solid #007cb9;
  border-radius: 4px;
  padding: 40px;
  background-color: azure;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  line-height: 19px;
  font-weight: 200;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 35px auto;
}
.weather-temp {
  margin-right: 20px;
}
.weather-temp strong {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 30px;
}
.weather-temp .active {
  color: rgb (33, 33, 33);
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}
.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
}
